.bg-color {
  background-color: #ffffff;
}

.custom-label {
  color: #bf1a33;
  font-weight: bold;
}

.custom-border-radius {
  border-radius: 40px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  border: none;
  border-bottom: 2px solid black;
  padding: 0;
  margin: 0;
  line-height: 3;
  width: 100%;
}

/* Form label */
label {
  color: #bf1a33;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 0;
}
.custom-color {
  color: #bf1a33;
  font-weight: bold;
  font-size: 22px;
}
.payment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-card {
  width: 300px;
  margin-bottom: 20px;
}

.payment-button {
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
}
.left-aligned {
  text-align: left;
  font-size: 20px;
  text-align: "center";
}

.custom-button {
  background-color: #bf1a33;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.disabled-button {
  background-color: grey;
}
